$mainColor:#DBBE2C;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer {
    padding:2em;

  }

