$mainColor:#DBBE2C;

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;

    h1 {
        color:#11001c;
        font-weight: 800;
        letter-spacing: 2px;
        cursor: pointer;

    }
}
.searchBar {
    width: 100%;
    border-top: 3px solid $mainColor;
    border-bottom: 3px solid $mainColor;
    font-size: 2rem;
    color: black;
    opacity: 1;
    padding: 0.5em;
    margin-bottom: 25px;
    border-left: none;
    border-right: none;
    &:hover {
        outline: none;
    };
    &:focus {
        outline: none;
    }
}

.icon {
    color:#DBBE2C;
    width: 40px;
    height: auto;
}
.searchIcon {
    color:black;
    width: 30px;
    height: auto;
}