$color-primary: blueviolet;	
$mainColor:#DBBE2C;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

